<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="endpoint" value="https://anze-presence.azurewebsites.net/api/Anze-Presence-UpdateFunction?code=kruBaUfdS3HKrINpeYgE9TYJUA2wS4OThqsDFZlyGjIqnR4f5Xwz0Q=="/>
  </appSettings>
</configuration>